*{
    padding: 0;
    margin: 0;
    font-family: Lucida, sans-serif;
    }
    body {
       background-color: #f1f1f1;
    }
img{
    width: 100%;
    
}

.page-content {
    width: 100%;
    max-width: 850px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3px;
}

.title {
    display: flex;
    justify-content: space-between;

    background-color: #ffffff;
    padding: 5px;
}

.header {
    display: flex;
    margin: 5px;
}

.icons {
    display: flex;
    margin: 5px;
}

button.green {
    background-color: #23b574;
    border: none;
    margin-left: 5px;
}

.cl-main-container {
    margin-bottom: 3px;
}

/* .cl-card-footer.cl-space-between.cl-mt-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
} */

/* .cl-user-name.cl-ml-2 {
    
    align-items: center;
    margin-left: 13px;
} */

.cl-card-footer-category {
    
    align-items: center;
}

h3.colo {
    color: #23b574;
   
}
.list {
    background-color: #23b574;
}
.tag {
    background-color: #23b574;
    margin-left: 5px;
}

.add {
    background-color: #23b574;
    margin-left: 5px;
}

.cl-card-container.cl-mb-1 {
    background-color: #ffffff;
    padding: 10px;
}

.cl-card-footer.cl-space-between.cl-mt-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.fav {
  
    margin-left: 23px;
    color: red;
}

.cl-card-body-content.cl-mr-3 {
    margin-left: 10px;
}

section.cl-main {
    margin-top: 6px;
}



.star {
    color: red;
}

.cl-card-footer.cl-space-between.cl-mt-3 {
    display: flex;
    justify-content: space-between;
    padding: 9px;
    margin-top: 28px;
    flex-wrap: wrap;
}
.pay {
   
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.cl-user-name.cl-ml-2 {
  
    align-items: center;
}

.sk {
    margin-right: 5px;
    font-size: 13px;
}

.int{
    font-size: 15px;
}

.pay{
    font-size: 12px;
}

p.hor {
    font-size: 12px;
}


.cl-user-lg.cl-ml-2 {
    display: flex;
    align-items: center;
}




@media all and (max-width: 880px){
    .page-content {
        width: 100%;
        max-width: 680px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 3px;
    }
}

@media all and (max-width: 700px){
    .page-content {
        width: 100%;
        max-width: 470px;
        margin-right: auto;  
        margin-left: auto;
        margin-bottom: 3px;
    }
}

@media all and (max-width: 400px){
    .page-content {
        width: 100%;
        max-width: 333px;
        margin-right: auto;  
        margin-left: auto;
        margin-bottom: 3px;
    }
    
    }





/* @media all and (max-width: 920px){
	body{
		
	}
	h1{
		
	}
    .title {
       
        
        max-width: 800px;
       
    }
    cl-main-container {      
        max-width: 800px;
        
    }
} */